In [264]:
import pandas as pd
import numpy as np

# 불러올 csv excel json 파일을 현재 주피터 파일 위치에 넣어둘 경우 , 파일명만 입력해도 불러올 수 있다.

data = pd.read_excel('(삼성카드)가맹점 기반 지역별 소비행태.xlsx' 
             , usecols = "A,C,E,F" , names = ['Date' , 'Si' , 'Shop' , 'cnt'])
gender_age = pd.read_excel('(삼성카드)가맹점 기반 지역별 소비행태.xlsx' 
             , usecols = "G:P")
day_of_weekend = pd.read_excel('(삼성카드)가맹점 기반 지역별 소비행태.xlsx' 
             , usecols = "Q:Y")

In [265]:
data['Si'].str.split(' ' , expand = True)[2]

0       중앙동2가
1         경장동
2         영운리
3         조촌동
4         조촌동
        ...
7685      산정동
7686      도암리
7687      정량동
7688      화삼리
7689      안정리
Name: 2, Length: 7690, dtype: object

In [268]:
data.query('Si.str.contains("목포시")').index.to_list()

[0,
 8,
 11,
 14,
 15,
 21,
 22,
 25,
 29,
 33,
 34,
 38,
 43,
 44,
 47,
 50,
 51,
 53,
 56,
 61,
 62,
 68,
 69,
 70,
 72,
 73,
 77,
 78,
 79,
 94,
 97,
 106,
 112,
 117,
 119,
 121,
 134,
 137,
 140,
 146,
 147,
 151,
 152,
 155,
 162,
 163,
 167,
 175,
 177,
 183,
 195,
 204,
 205,
 206,
 209,
 211,
 213,
 215,
 218,
 222,
 223,
 225,
 229,
 232,
 233,
 236,
 243,
 247,
 258,
 262,
 267,
 268,
 269,
 272,
 282,
 285,
 290,
 295,
 297,
 298,
 299,
 311,
 316,
 321,
 325,
 328,
 336,
 337,
 339,
 341,
 360,
 362,
 369,
 377,
 380,
 383,
 386,
 389,
 390,
 399,
 401,
 402,
 417,
 420,
 423,
 427,
 429,
 440,
 442,
 446,
 447,
 452,
 454,
 456,
 457,
 460,
 461,
 463,
 464,
 466,
 467,
 473,
 474,
 478,
 479,
 482,
 484,
 486,
 488,
 491,
 492,
 496,
 503,
 508,
 517,
 522,
 526,
 528,
 529,
 531,
 534,
 541,
 543,
 553,
 556,
 557,
 559,
 563,
 570,
 571,
 582,
 590,
 594,
 595,
 604,
 605,
 607,
 608,
 611,
 615,
 617,
 619,
 627,
 629,
 635,
 637,
 638,
 640,
 643,
 646,
 649,
 650,
 653,
 659,
 663,
 665,
 667,
 674,
 675,
 678,
 681,
 682,
 684,
 686,
 687,
 693,
 696,
 699,
 702,
 703,
 704,
 713,
 715,
 718,
 719,
 721,
 724,
 729,
 733,
 735,
 746,
 758,
 763,
 765,
 768,
 769,
 772,
 773,
 774,
 777,
 785,
 788,
 793,
 794,
 797,
 801,
 803,
 804,
 805,
 806,
 812,
 815,
 823,
 845,
 846,
 851,
 856,
 859,
 862,
 867,
 874,
 878,
 881,
 884,
 887,
 892,
 903,
 905,
 907,
 908,
 909,
 911,
 916,
 918,
 928,
 929,
 930,
 934,
 935,
 936,
 938,
 940,
 943,
 944,
 947,
 955,
 956,
 957,
 961,
 962,
 963,
 965,
 966,
 967,
 970,
 972,
 977,
 979,
 983,
 984,
 994,
 995,
 1002,
 1007,
 1009,
 1012,
 1015,
 1019,
 1033,
 1036,
 1039,
 1041,
 1044,
 1046,
 1052,
 1056,
 1058,
 1059,
 1061,
 1064,
 1067,
 1071,
 1075,
 1076,
 1081,
 1082,
 1083,
 1085,
 1086,
 1087,
 1092,
 1093,
 1101,
 1104,
 1107,
 1110,
 1119,
 1125,
 1127,
 1128,
 1131,
 1137,
 1145,
 1147,
 1153,
 1157,
 1158,
 1159,
 1162,
 1172,
 1174,
 1180,
 1182,
 1192,
 1197,
 1202,
 1212,
 1218,
 1221,
 1224,
 1227,
 1231,
 1233,
 1244,
 1247,
 1249,
 1265,
 1278,
 1280,
 1287,
 1289,
 1292,
 1298,
 1300,
 1306,
 1310,
 1312,
 1313,
 1314,
 1316,
 1322,
 1326,
 1327,
 1330,
 1334,
 1335,
 1337,
 1340,
 1341,
 1345,
 1350,
 1354,
 1358,
 1360,
 1361,
 1364,
 1365,
 1369,
 1372,
 1374,
 1384,
 1385,
 1397,
 1401,
 1414,
 1417,
 1418,
 1422,
 1423,
 1426,
 1427,
 1432,
 1435,
 1436,
 1441,
 1442,
 1448,
 1456,
 1459,
 1461,
 1462,
 1463,
 1466,
 1472,
 1475,
 1476,
 1480,
 1482,
 1486,
 1488,
 1495,
 1496,
 1499,
 1500,
 1505,
 1509,
 1517,
 1521,
 1522,
 1525,
 1532,
 1538,
 1540,
 1541,
 1543,
 1549,
 1550,
 1551,
 1554,
 1555,
 1557,
 1558,
 1559,
 1561,
 1565,
 1568,
 1571,
 1572,
 1574,
 1576,
 1582,
 1583,
 1585,
 1586,
 1597,
 1599,
 1602,
 1608,
 1610,
 1611,
 1612,
 1613,
 1614,
 1616,
 1617,
 1618,
 1619,
 1620,
 1624,
 1633,
 1634,
 1636,
 1637,
 1644,
 1653,
 1658,
 1665,
 1674,
 1678,
 1683,
 1684,
 1691,
 1692,
 1693,
 1697,
 1702,
 1703,
 1714,
 1719,
 1724,
 1735,
 1737,
 1747,
 1748,
 1753,
 1754,
 1757,
 1760,
 1764,
 1765,
 1767,
 1773,
 1775,
 1777,
 1781,
 1789,
 1794,
 1797,
 1798,
 1806,
 1817,
 1819,
 1824,
 1825,
 1828,
 1832,
 1834,
 1841,
 1848,
 1849,
 1863,
 1865,
 1875,
 1876,
 1880,
 1884,
 1887,
 1892,
 1894,
 1897,
 1898,
 1900,
 1913,
 1916,
 1918,
 1919,
 1920,
 1923,
 1926,
 1928,
 1930,
 1932,
 1934,
 1936,
 1938,
 1944,
 1947,
 1949,
 1951,
 1952,
 1953,
 1954,
 1956,
 1957,
 1961,
 1963,
 1964,
 1967,
 1972,
 1974,
 1977,
 1982,
 1984,
 1988,
 1990,
 1991,
 1992,
 1996,
 1999,
 2008,
 2011,
 2014,
 2017,
 2022,
 2025,
 2028,
 2031,
 2035,
 2036,
 2037,
 2038,
 2039,
 2043,
 2049,
 2050,
 2052,
 2053,
 2056,
 2057,
 2061,
 2063,
 2067,
 2071,
 2073,
 2078,
 2081,
 2091,
 2093,
 2097,
 2099,
 2116,
 2117,
 2120,
 2127,
 2132,
 2141,
 2148,
 2149,
 2150,
 2152,
 2154,
 2159,
 2177,
 2188,
 2194,
 2195,
 2203,
 2204,
 2209,
 2212,
 2213,
 2226,
 2228,
 2229,
 2232,
 2233,
 2235,
 2237,
 2242,
 2243,
 2244,
 2247,
 2248,
 2252,
 2255,
 2260,
 2265,
 2271,
 2276,
 2278,
 2280,
 2287,
 2292,
 2294,
 2295,
 2298,
 2300,
 2306,
 2307,
 2309,
 2311,
 2317,
 2323,
 2328,
 2330,
 2335,
 2336,
 2348,
 2350,
 2353,
 2359,
 2360,
 2371,
 2374,
 2377,
 2378,
 2379,
 2382,
 2385,
 2388,
 2394,
 2395,
 2397,
 2399,
 2401,
 2403,
 2404,
 2406,
 2414,
 2415,
 2417,
 2419,
 2420,
 2426,
 2432,
 2441,
 2445,
 2447,
 2450,
 2452,
 2454,
 2474,
 2476,
 2479,
 2481,
 2484,
 2485,
 2496,
 2497,
 2504,
 2505,
 2509,
 2523,
 2524,
 2527,
 2530,
 2532,
 2536,
 2544,
 2547,
 2550,
 2555,
 2556,
 2565,
 2573,
 2574,
 2578,
 2580,
 2594,
 2597,
 2600,
 2604,
 2606,
 2613,
 2614,
 2616,
 2620,
 2622,
 2629,
 2630,
 2632,
 2634,
 2642,
 2647,
 2649,
 2652,
 2672,
 2679,
 2682,
 2683,
 2686,
 2695,
 2696,
 2701,
 2709,
 2710,
 2711,
 2715,
 2718,
 2719,
 2720,
 2725,
 2728,
 2732,
 2735,
 2739,
 2746,
 2748,
 2752,
 2755,
 2758,
 2765,
 2774,
 2778,
 2782,
 2789,
 2792,
 2794,
 2796,
 2803,
 2806,
 2816,
 2821,
 2824,
 2826,
 2827,
 2828,
 2830,
 2833,
 2844,
 2847,
 2848,
 2854,
 2856,
 2857,
 2858,
 2859,
 2861,
 2865,
 2868,
 2872,
 2873,
 2879,
 2881,
 2882,
 2888,
 2889,
 2892,
 2893,
 2896,
 2901,
 2904,
 2909,
 2911,
 2914,
 2921,
 2927,
 2929,
 2935,
 2944,
 2947,
 2951,
 2956,
 2958,
 2959,
 2962,
 2963,
 2964,
 2973,
 2977,
 2979,
 2982,
 2983,
 2989,
 2994,
 2995,
 2997,
 3004,
 3007,
 3011,
 3018,
 3019,
 3021,
 3024,
 3026,
 3027,
 3031,
 3035,
 3047,
 3055,
 3059,
 3062,
 3064,
 3067,
 3068,
 3074,
 3076,
 3078,
 3085,
 3088,
 3089,
 3093,
 3094,
 3095,
 3098,
 3106,
 3107,
 3109,
 3110,
 3113,
 3122,
 3125,
 3132,
 3141,
 3144,
 3146,
 3150,
 3152,
 3157,
 3159,
 3161,
 3163,
 3169,
 3171,
 3174,
 3178,
 3180,
 3183,
 3192,
 3193,
 3196,
 3199,
 3201,
 3208,
 3212,
 3215,
 3216,
 3219,
 3224,
 3225,
 3228,
 3229,
 3230,
 3233,
 3236,
 3237,
 3239,
 3240,
 3241,
 3243,
 3245,
 3246,
 3255,
 3257,
 3263,
 3264,
 3268,
 3276,
 3277,
 3283,
 3284,
 3288,
 3289,
 3290,
 3292,
 3301,
 3304,
 3311,
 3314,
 3315,
 3329,
 3338,
 3339,
 3340,
 3341,
 3343,
 3344,
 3345,
 3357,
 3360,
 3361,
 3363,
 3366,
 3367,
 3370,
 3371,
 3373,
 3377,
 3378,
 3381,
 3382,
 3389,
 3398,
 3402,
 3404,
 3405,
 3413,
 3415,
 3416,
 3419,
 3422,
 3431,
 3437,
 3438,
 3439,
 3441,
 3444,
 3446,
 3447,
 3451,
 3453,
 3460,
 3462,
 3463,
 3465,
 3468,
 3470,
 3478,
 3480,
 3481,
 3484,
 3488,
 3493,
 3494,
 3495,
 3499,
 3500,
 3502,
 3505,
 3507,
 3510,
 3514,
 3516,
 3518,
 3519,
 3521,
 3525,
 3528,
 3530,
 3531,
 3535,
 3536,
 3538,
 3546,
 3549,
 3551,
 3553,
 3555,
 3563,
 3564,
 3565,
 3568,
 3570,
 3579,
 3582,
 3586,
 3592,
 3611,
 3620,
 3622,
 3631,
 3634,
 3636,
 3638,
 3642,
 3655,
 3657,
 3661,
 3668,
 3681,
 ...]

# slicing 함수
- 삼성카드 데이터를 목포시, 통영시, 군산시로 분류해주는 함수
- area : str 목포시 , 통영시 , 군산시 기입
- name : str mokpo , tongyeong , gunsan

In [291]:
# area = 목포시 , 통영시 , 군산시
# name = mokpo , tongyeong , gunsan
# globals() - 전역변수 선언 [변수 이름 선언 - format을 사용하여 입력값을 변수 이름으로 선언]

def slicing (area : str , name : str) :
    # data를 카피하여 전역변수에 저장
    globals()[f'{name}_data'] = data.copy()
    
    # df 생성 알림
    print(f'{name}_data 가 생성되었습니다.')
    
    # 칼럼 을 2번 자리에 넣기위해 insert 칼럼 추가 함수 사용
    # 추가할 칼럼은 Dong이 담긴 데이터 . Dong 데이터는 split으로 분할하여 구한다.
    globals()[f'{name}_data'].insert(2 , 'Dong' , globals()[f'{name}_data']['Si'].str.split(' ' , expand = True)[2])
    
    # index 슬라이싱을 위해 시별로 분리한 데이터의 index를 구하여 리스트로 변환
    lst = globals()[f'{name}_data'].query('Si.str.contains(@area)').index.to_list()
    # Si에는 area 즉 목포시 군산시 통영시 중 입력한 하나의 값이 들어간다.
    globals()[f'{name}_data']['Si'] = area
    
    # 이후 기본 data가 담긴 전역변수는 인덱스 리셋
    globals()[f'{name}_data'] = globals()[f'{name}_data'].loc[lst].reset_index(drop = True)
    # 슬라이싱된 성 연령별 데이터 새로운 전역변수에 저장
    globals()[f'{name}_gender_age']     = gender_age.loc[globals()[f'{name}_indx']].reset_index(drop = True)
    # 슬라이싱된 요일 휴일 평일 데이터 새로운 전역변수에 저장
    globals()[f'{name}_day_of_weekend'] = day_of_weekend.loc[globals()[f'{name}_indx']].reset_index(drop = True)
    
    # 위의 저장된 기본 data와 성 연령별 데이터를 concat으로 결합 이후 새로운 전역변수에 저장
    globals()[f'{name}_gender_age_frm'] = pd.concat([globals()[f'{name}_data'] , globals()[f'{name}_gender_age']] , axis = 1)
    # 위의 저장된 기본 data와 요일 휴일 평일 데이터를 concat으로 결합 이후 새로운 전역변수에 저장
    globals()[f'{name}_day_of_weekend_frm'] = pd.concat([globals()[f'{name}_data'] , globals()[f'{name}_day_of_weekend']] , axis = 1)
    
    # df 생성 알림
    print(f'{name}_gender_age_frm 가 생성되었습니다.')
    print(f'{name}_day_of_weekend_frm 가 생성되었습니다.')

In [292]:
slicing('목포시' , 'mokpo')
print()
slicing('통영시' , 'tongyeong')
print()
slicing('군산시' , 'gunsan')

mokpo_data 가 생성되었습니다.
mokpo_gender_age_frm 가 생성되었습니다.
mokpo_day_of_weekend_frm 가 생성되었습니다.

tongyeong_data 가 생성되었습니다.
tongyeong_gender_age_frm 가 생성되었습니다.
tongyeong_day_of_weekend_frm 가 생성되었습니다.

gunsan_data 가 생성되었습니다.
gunsan_gender_age_frm 가 생성되었습니다.
gunsan_day_of_weekend_frm 가 생성되었습니다.

In [295]:
# cnt

mokpo_data
display(tongyeong_data)
display(mokpo_data)
display(gunsan_data)

        Date   Si Dong    Shop   cnt
0     202003  통영시  영운리     음식점    83
1     202001  통영시  삼화리  마트/할인점   118
2     202003  통영시  덕포리     골프장    49
3     202002  통영시  죽림리     편의점  4616
4     202002  통영시  정량동    인테리어   193
...      ...  ...  ...     ...   ...
2043  202101  통영시  안정리      학원    13
2044  202103  통영시  도남동    건강보조   130
2045  202002  통영시  정량동    차량관리    37
2046  202001  통영시  화삼리     음식점    60
2047  202002  통영시  안정리     편의점   366

[2048 rows x 5 columns]

        Date   Si   Dong    Shop    cnt
0     202003  목포시  중앙동2가     음식점     79
1     202002  목포시     상동     음식점  15003
2     202002  목포시    산정동  문구사무용품    107
3     202001  목포시     상동      보험     19
4     202102  목포시    대안동      병원    106
...      ...  ...    ...     ...    ...
2086  202103  목포시    석현동      학원     28
2087  202001  목포시  상락동2가    건강보조    128
2088  202101  목포시    용해동    인테리어     89
2089  202002  목포시    대양동    인테리어     48
2090  202002  목포시    산정동   커피/음료   1444

[2091 rows x 5 columns]

        Date   Si Dong    Shop   cnt
0     202001  군산시  경장동      취미    70
1     202003  군산시  조촌동     아울렛  3643
2     202101  군산시  조촌동      서적    17
3     202101  군산시  문화동  마트/할인점   389
4     202101  군산시  경암동    차량관리    42
...      ...  ...  ...     ...   ...
3546  202003  군산시  나운동      관람    49
3547  202101  군산시  미룡동  문구사무용품    45
3548  202102  군산시  문화동      의류    11
3549  202101  군산시  지경리     음식점   157
3550  202103  군산시  도암리     편의점   110

[3551 rows x 5 columns]

In [296]:
mokpo_data['Date'] = mokpo_data['Date'].astype(str)

In [297]:
test_mokpo_data = mokpo_data.copy()

In [298]:
# 21년 1분기만 꺼내자.
# mokpo_spot_subset_frm = mokpo_data[mokpo_data['Date'].str[:4] == '2021']
lst = []
for i in mokpo_data['Date'] :
    #print(i[:4])
    lst.append(i[:4])
test_mokpo_data['year'] = lst
test_mokpo_data

        Date   Si   Dong    Shop    cnt  year
0     202003  목포시  중앙동2가     음식점     79  2020
1     202002  목포시     상동     음식점  15003  2020
2     202002  목포시    산정동  문구사무용품    107  2020
3     202001  목포시     상동      보험     19  2020
4     202102  목포시    대안동      병원    106  2021
...      ...  ...    ...     ...    ...   ...
2086  202103  목포시    석현동      학원     28  2021
2087  202001  목포시  상락동2가    건강보조    128  2020
2088  202101  목포시    용해동    인테리어     89  2021
2089  202002  목포시    대양동    인테리어     48  2020
2090  202002  목포시    산정동   커피/음료   1444  2020

[2091 rows x 6 columns]

In [299]:
mokpo_2020_spot = test_mokpo_data[test_mokpo_data['year'] == '2020'].reset_index(drop=True)
mokpo_2021_spot = test_mokpo_data[test_mokpo_data['year'] == '2021'].reset_index(drop=True)

In [300]:
# top 5

display(mokpo_2020_spot.groupby(['Dong' ]).agg(sum).sort_values('cnt' , ascending = False).head(5))
display(mokpo_2021_spot.groupby(['Dong' ]).agg(sum).sort_values('cnt' , ascending = False).head(5))

         cnt
Dong
상동    187219
옥암동   105203
산정동    95008
용당동    38709
석현동    38554

         cnt
Dong
상동    168871
옥암동   102257
산정동    88462
석현동    41747
용당동    38771

In [301]:
# botm 5

display(mokpo_2020_spot.groupby(['Dong' ]).agg(sum).sort_values('cnt' , ascending = True).head(5))
display(mokpo_2021_spot.groupby(['Dong' ]).agg(sum).sort_values('cnt' , ascending = True).head(5))

       cnt
Dong
유달동     10
축복동3가   24
보광동1가   37
광동2가    48
해안동2가   59

       cnt
Dong
광동2가    11
금동1가    13
유달동     21
해안동3가   32
수강동2가   41

In [302]:
test_mokpo_data.groupby(['year' , 'Dong' ]).agg(sum).sort_values('cnt' , ascending = False).head(10)

              cnt
year Dong
2020 상동    187219
2021 상동    168871
2020 옥암동   105203
2021 옥암동   102257
2020 산정동    95008
2021 산정동    88462
     석현동    41747
     용당동    38771
2020 용당동    38709
     석현동    38554