In [1]:
import pandas as pd

### 5천개씩 가져올 음료 목록  
코카콜라 제로(CocacolaZ)  
스프라이트 제로(SpriteZ)  
펩시콜라 제로(PepsiColaZ)  
씨그램(Seagram)  
트레비(Trevi)  
-네이버 브랜드숍 5000  
-다나와 5000

In [2]:
#엑셀 5천개씩 로드, 헤더 review
df0 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/Trevi_10000_NaverBrandshop_crawling.xlsx",
                   nrows = 5000,
                   names=["review"])

df1 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/Trevi_10000_Danawa_crawling.xlsx",
                   nrows = 5000,
                   names=["review"])

In [3]:
#데이터프레임 생성
Trevi_df = pd.DataFrame()

In [4]:
#로드한 음료를 모두 새 데이터프레임에 머지
Trevi_df = Trevi_df.append(df0)
Trevi_df = Trevi_df.append(df1)

C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\2577401150.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Trevi_df = Trevi_df.append(df0)
C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\2577401150.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Trevi_df = Trevi_df.append(df1)

In [5]:
#총 1만개인지 확인
Trevi_df.shape

(10000, 1)

In [6]:
Trevi_df

                                                 review
0     장난하시나요\n이게포장인가요\n사람이먹는걸이렇게포장하나요\n터지고 찌그려지고 \n그...
1     가격 괜찮게 판매하는곳이여서 두번째 구매합니다\n앞으로도 계속 이용할려구요\n감사합...
2           레몬맛 먹다가 다른맛도 먹어보고싶어서 주문해봤어요! 배송도 빠르고 만족합니다!
3     일단  우리가족이 모두 좋아하구요~유통기한도  포장도  맘에쏙~\n늘재구매로 합니다...
4     역시 내 동반자  ~~\n어제 양꼬치 집 가는데 같이 갔어요ㅎ.\n다른 친구들두 시...
...                                                 ...
4995                                        탄산수 중  젤 좋음
4996                                        탄산수 먹기 참좋아요
4997                                         깔끔한 탄산수입니다
4998                                    품질 좋아요 적극 추천합니다
4999                                     늘 먹는 제품 트레비 굳굳

[10000 rows x 1 columns]

In [7]:
#인덱스 없이 엑셀 저장
#Trevi_df.to_excel('C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/append/Trevi_10000_append.xlsx', index=False)

### 네이버 브랜드숍, 다나와 쇼핑몰에서 한개씩 로드할 음료 목록

나랑드 사이다(10921)  
-네이버 브랜드숍 2000  
-다나와 8000  

칠성사이다제로(16827)  
-네이버 브랜드숍 6500  
-다나와 3500  

라인바사 탄산수(27888)  
-네이버 브랜드숍 7500  
-다나와 2500  

미네마인 탄산수(16567)  
-네이버 브랜드숍 4000  
-다나와 6000

In [15]:
#엑셀 n천개씩 로드, 헤더 review
df0 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/Reinwasser_17888_NaverBrandshop_crawling.xlsx",
                   nrows = 7500,
                   names=["review"])

df1 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/Reinwasser_10000_Danawa_crawling.xlsx",
                   nrows = 2500,
                   names=["review"])

In [16]:
#데이터프레임 생성
Reinwasser_df = pd.DataFrame()

In [17]:
#로드한 음료를 모두 새 데이터프레임에 머지
Reinwasser_df = Reinwasser_df.append(df0)
Reinwasser_df = Reinwasser_df.append(df1)

C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\1785793712.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Reinwasser_df = Reinwasser_df.append(df0)
C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\1785793712.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Reinwasser_df = Reinwasser_df.append(df1)

In [18]:
#총 1만개인지 확인
Reinwasser_df.shape

(10000, 1)

In [19]:
Reinwasser_df

                                                 review
0     빠르고 터지지않고 깔끔한 배송\n라인바싸 매번 달마다 주문하는 상품이라 제품 자체 ...
1                               항상 주문해서 먹고 있어요  탄산이 강해요
2                                    빠른  배송과  깔끔한맛이 좋아요
3                             콜라 사이다 끊을 땐 탄산수가 좋은듯하네요^^
4                                      정디적으로 주문하고 있어요~~
...                                                 ...
2495   배송 빠르네요. 처음 구매한거라 맛이 기대됩니다. 여름에 시원하게 두고두고 먹으려구요.
2496      이젠 라인 바싸 없이는 안되요..강력한탄산에 다른 탄산 음료는 마시지를 못 합니다
2497        탄산이 엄청 쎄고 정제수가 아닌 물로 만든탄산수라 더 좋네요 아이가 잘 먹어요
2498  아이들  에이드 해줄때 자주써서  주문..배송 엄청 빨라서 좋네요. 아이들이 금방 ...
2499     역시 여름에는 탄산이죠조금 착한 가격에 구매해서  좋아요 배송기사님 감사합니다 ^^

[10000 rows x 1 columns]

In [20]:
#인덱스 없이 엑셀 저장
#Reinwasser_df.to_excel('C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/append/Reinwasser_10000_append.xlsx', index=False)

### 3가지 이상의 파일에서 리뷰 추출
노브랜드 스파클링(10925)  
네이버 브랜드숍1   1200  
네이버 브랜드숍2   1300  
다나와 		7500  

웰치스 제로(10522)  
네이버쇼핑 	1900  
다나와 		2400  
네이버 브랜드숍 	5700  

원에이엠스파클링(12652)  
네이버쇼핑 	 1500  
네이버 브랜드숍	 8200  
다나와		 300  

부르르제로콜라(10458)  
네이버쇼핑 	1950  
네이버 브랜드숍 	1800  
다나와		4850  
쿠팡		1400

In [56]:
#엑셀 n천개씩 로드, 헤더 review
df0 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/BurrZcider_1820_Navershop_crawling.xlsx",
                   nrows = 1820,
                   names=["review"])

df1 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/BurrZcider_3596_Danawa_crawling.xlsx",
                   nrows = 3596,
                   names=["review"])

df2 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/BurrZcider_4584_NaverBrandshop_crawling.xlsx",
                   nrows = 4584,
                   names=["review"])

#부르르 제로 콜라
#df3 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/BurrZcola_1500_Coupang_crawling.xlsx",
#                   nrows = 1400,
#                   names=["review"])

In [57]:
#데이터프레임 생성
BurrZcider_df = pd.DataFrame()

In [58]:
#로드한 음료를 모두 새 데이터프레임에 머지
BurrZcider_df = BurrZcider_df.append(df0)
BurrZcider_df = BurrZcider_df.append(df1)
BurrZcider_df = BurrZcider_df.append(df2)
#부르르제로콜라
#BurrZcola_df = BurrZcola_df.append(df3)

C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\1225804611.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  BurrZcider_df = BurrZcider_df.append(df0)
C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\1225804611.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  BurrZcider_df = BurrZcider_df.append(df1)
C:\Users\ohans\AppData\Local\Temp\ipykernel_19008\1225804611.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  BurrZcider_df = BurrZcider_df.append(df2)

In [59]:
#총 1만개인지 확인
BurrZcider_df.shape

(9994, 1)

In [60]:
BurrZcider_df

                                                 review
0     부르르 음료 후기가 좋아서 가격 비교해보고 찾다가 여기서 주문했어요!\n먹어보고 주...
1     탄산음료 1도 안마시는 제가 리뷰를 다 쓰네요\n그것도 음용 후 리뷰를요 ㅎ\n탄산...
2     사이다를 너무 좋아하는 저희 부부, 칼로리를 걱정하던 차에 무설탕, 무색소, 무보존...
3     초정탄산수와 천연사이다의 10년 넘은 팬입니다~몇 박스째 먹는지 모르겠어요. 입안이...
4     콜라는 치아를 녹인다는 정보를 알고 난뒤부터 사이다로 바꿔 먹기 시작했어요(탄산은 ...
...                                                 ...
4579                        생각보다 맛이 별로네요. 천연사이다가 더 낫네요.
4580                 탄산이 있는데 사이다 맛이랑은 좀 다른데\n제로칼로리라 좋아요
4581                           나랑드 같은거 보다 훨배 좋습니다.. 진짜요
4582                                        맛도좋고 가격도 좋고
4583                                         맛있어요......

[9994 rows x 1 columns]

In [61]:
#인덱스 없이 엑셀 저장
BurrZcider_df.to_excel('C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/append/BurrZcider_10000_append.xlsx', index=False)

### 리뷰가 1만개인 단일 물품
-빅토리아

In [47]:
#df0 = pd.read_excel("C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/Victoria_10000_NaverBrandshop_crawling.xlsx",
#                   nrows = 10000,
#                   names=["review"])

In [48]:
#df0

                                                 review
0     탄산수 구매할 때마다 구매하는 브랜드에요!☺️\n열심히 찾아봤는데, 압도적으로 최저...
1     일단 지금 시중에 나와있는 탄산수들 중에 제일 좋습니다.  가격적인 면에서도 아주 ...
2     정기배송으로 자몽만 몇년째 먹고 있었는데 이렇게 다양한 맛이 있는줄 몰랐어요.  이...
3     지속적으로 재구매하고있습니다. 다양한맛을 보유하고있는 제품이라 새로 구매할때마다 새...
4     재구매의 재구매의 재구매입니다 !\n/\n저희집은 레몬이랑 라즈베리 마셔요 ! 임신...
...                                                 ...
9995                                      감사합니다~~~~~~^^
9996                                 항상 먹고 있지만 빅토리아가 최고
9997                                   그냥 맨날 먹는거라서요 맛나요
9998                               배송이 두개나눠서오네요\n잘받았습니다
9999             또 주문해야할때가 다 됐네요. 아이들도 좋아하고 마눌님도 좋아합니다.

[10000 rows x 1 columns]

In [49]:
#인덱스 없이 엑셀 저장
#파일명 변경용
#df0.to_excel('C:/Users/ohans/Desktop/multicampus/big data/class/project/final project/cider/crawling/excel/append/Victoria_10000_append.xlsx', index=False)